In [36]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from IPython.display import HTML,display

In [4]:
data = pd.read_csv('data/student-mat.csv',sep=";")

In [5]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [6]:
data.shape

(395, 33)

In [7]:
data = data[['G1','G2','G3','studytime','failures','absences']]

In [8]:
data

     G1  G2  G3  studytime  failures  absences
0     5   6   6          2         0         6
1     5   5   6          2         0         4
2     7   8  10          2         3        10
3    15  14  15          3         0         2
4     6  10  10          2         0         4
..   ..  ..  ..        ...       ...       ...
390   9   9   9          2         2        11
391  14  16  16          1         0         3
392  10   8   7          1         3         3
393  11  12  10          1         0         0
394   8   9   9          1         0         5

[395 rows x 6 columns]

In [9]:
predict = 'G3'

In [11]:
X = np.array(data.drop([predict],1))
Y = np.array(data[predict])

In [12]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X,Y, test_size = 0.1)

In [13]:
linear = linear_model.LinearRegression()

In [48]:
linear.fit(x_train, y_train)
accuracy = linear.score(x_test,y_test)
print(accuracy*100)

79.31109447597836

In [17]:
predictions = linear.predict(x_test)
print(len(predictions))

40

## Grade Prediction of student

In [50]:
html = "<table>"
html+= "<tr>"
html+= "<th><h3>Predicted Grade</h3></th>"
html += "<th><h3>Actual Grade</h3></th>"
html += "</tr>"
for i in range(len(predictions)):
    html+="<tr>"
    html+="<td>%s</td>"%(round(predictions[i],4))
    html+="<td>%s</td>"%(y_test[i])
    html+="</tr>"
html+="</table>"
display(HTML(html))